.configurator-page {
  width: 100%;
  height: 100%;
}
.configurator {
  display: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.car-image {
  width: 50vw;
  height: 100%;
}
.options-container {
  display: flex;
  & button {
    border: none;
    margin: 10px;
    box-shadow: none;
    & img {
      cursor: pointer;
    }
  }
}
.selected-option {
  border: red solid 2px;
}
