.configurator-page {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(24, 24, 24);
}
.configurator {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.price {
  margin-top: 15px;
  color: aliceblue;
  & button {
    margin-top: 10px;
  }
}
.image-container {
  object-fit: cover;
  margin: 0 0 50px 50px;
  width: 100%;

  height: 100%;
}
.car-image {
  object-fit: cover;
  border-radius: 15px;
  width: 70%;
}
.options-container {
  object-fit: cover;

  & h4 {
    color: aliceblue;
  }
  & button {
    position: relative;
    right: 0;

    border-radius: 100px;
    border: none;
    margin: 10px;
    box-shadow: none;
    background: none;
    & img {
      cursor: pointer;
      border-radius: 100px;
    }
  }
}
.selected-option {
  border: yellow solid 4px;
}
