@import "./../adaptive-mixins.scss";

.header {
  position: sticky;
  display: flex;
  width: 100%;
  height: 5vh;
  z-index: 1001;
  background-color: rgb(24, 24, 24);
}
.hamburger-menu {
  display: none;
  cursor: pointer;
  @include screen-sm() {
    height: 30px;
    width: 50px;
    display: inline-block;
    & span {
      width: 30px;
      height: 5px;
      display: block;
      margin-bottom: 5px;
      border-radius: 10px;
      background-color: #fff;
    }
  }
}
.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo {
  position: relative;
  height: 50px;
  width: 40px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
.link-container {
  display: flex;
  width: 50%;
  list-style: none;
  @include screen-sm() {
    display: none;
  }
  @include screen-lg() {
    display: flex;
  }
  @include screen-md() {
    display: flex;
  }
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 10px;
}
.active-link {
  text-decoration: underline;
}
.adaptive-link-container {
  background-color: rgb(24, 24, 24);
  left: 10%;
  top: 80%;
  width: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 10px 0 10px 0;
  // width: 50%;
  @include screen-lg() {
    display: none;
  }
  @include screen-md() {
    display: none;
  }
}
